RewriteEngine On
RewriteRule ^(data|inc|lib)(/|$) - [F,L]
RewriteRule ^api/.*\.js$ - [F,L]
RewriteRule ^api/dakwa/?$ dakwa.php [L]
RewriteRule ^api/dakwa2/?$ dakwa2.php [L]
RewriteRule ^api/dakwa3/?$ dakwa3.php [L]
RewriteRule ^api/dakwa4/?$ dakwa4.php [L]
RewriteRule ^api/dakwa5/?$ dakwa5.php [L]
RewriteRule ^api/dakwa6/?$ dakwa6.php [L]
RewriteRule ^api/dakwa7/?$ dakwa7.php [L]
RewriteRule ^api/nama/?$ nama.php [L]
DirectoryIndex index.html
Options -Indexes